Package: thatstel.la.com.beeper.beepserv
Name: beepserv test by ThatStella7922
Version: 0.1.1.test
Architecture: iphoneos-arm
Description: Use your iPhone to register your Beeper Mini's phone number with Apple!
Maintainer: ThatStella7922, James Gill, June Welker
Author: James Gill, June Welker
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 11.0)
Conflicts: com.beeper.beepserv
